* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, 
    BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, 
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html,h1{
    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #181818;
    color: rgba(255, 77, 0, 0.713);

}
button{
    height: 2.5em;
    margin: auto;
    width: 40%;
    font-weight: 900;
    font-size: larger;
    border-radius: 15px;
    display: block;
    display: flex;
    color: rgb(240, 247, 247);
    padding: 2px;
    justify-content: center;
    align-items: center;
    background-color: rgba(145, 32, 51, 0.728);
    border: none;
}
    
